#jumbotron {
	width:500px;
	height:100px;
	margin:auto;
}

h1 {
	vertical-align: middle;
	text-align: center;
	font-size: 60px;
	font-family: 'Pangolin', cursive;
	color: red;
}
#board {
	width:400px;
	margin:auto;
}
